.form
    max-width: 500px
    margin: auto
    margin: 30px 0px
    .field
        .label
            font-size: 14px
            font-weight: 500
            color: $very-dark-violet
            letter-spacing: 2px
        .control
            .input
                color: $very-dark-violet
                font-weight: 500
            .input:focus
                border: 2px solid $gradient !important
                box-shadow: none !important
            .button
                background: $very-dark-violet
                border-radius: 10px
                color: $white
                font-size: 18px
                font-weight: 400
                padding: 24px 0px
                width: 100%